/* About Me - Desktop */
.about-icons-ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}
    .about-icons-ul li {
        border: 2px solid #d4d4d4;
        border-radius: 50%;
        padding: 8px 10px;
        margin-left: 8px;
        margin-right: 8px;
    }
    .about-icons-ul li a {
        text-decoration: none;
        color: white;
    }

.about-content {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    align-items: center;
    display: flex;
    color: white;
}
    .about-image {
        flex: 2;
    }
    .about-text{
        flex: 4;
    }

.wrap {
    width: 100%;
    background-color: #464e5b;
}

.wrap-b {
    width: 100%;
    background-color: #383e49;;
}