/* About Me - Desktop */
.about-icons-ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}
    .about-icons-ul li {
        border: 2px solid #d4d4d4;
        border-radius: 50%;
        padding: 8px 10px;
        margin-left: 8px;
        margin-right: 8px;
    }
    .about-icons-ul li a {
        text-decoration: none;
        color: black;
    }

.about-content {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 80%;
    display: flex;
}
    .about-image {
        flex: 1;
    }
    .about-text{
        flex: 2;
    }