/* Navbar Settings - Desktop */
.nav-box {
    width: 100%;
    background-color: #1A202C;
}

.nav-content {
    display: flex;
    width: 80%;
    max-width: 960px;
    background-color: #1A202C;
    color: white;

    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.nav-container {
    flex: 1;
    display: flex;
}

.nav-logo {

}

.nav-list {

}

.nav-ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}
    .nav-ul li {
        padding-left: .5rem;
        padding-right: .5rem;
    }