/* Splash Page - Desktop */
.splash-main {
    height: 100vh;
    background-color: #364053;
}

.splash-title {
    width: 80%;
    max-width: 960px;

    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    
}
    .splash-title h1 {
        font-size: 70px;
    }
    .splash-title h2 {
        font-size: 30px;
        margin: 0px;
        padding-top: 30%;
    }
    .splash-title h3 {
        font-size: 30px;
        margin-bottom: 50px;
    }

.splash-title a {
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-radius: 30px;
    padding: 15px 32px;
    font-size: 20px;
}
