/* Splash Page - Desktop */
.splash-main {
    height: 100vh;
    background-color: #464e5b;
}

.splash-title {
    width: 80%;
    max-width: 960px;

    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    
}
    .splash-title h1 {
        font-size: 70px;
    }
    .splash-title h2 {
        font-size: 30px;
        margin: 0px;
        padding-top: 30%;
    }
    .splash-title h3 {
        font-size: 30px;
        margin-bottom: 50px;
    }

.splash-title a {
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-radius: 15px;
    padding: 15px 32px;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
    .splash-title a:hover {
        color: black;
        background-color: white;
        border-color: white;
    }

.bg-img {
    position: relative;
    object-fit: cover;
    position: center center;
    height: 100%;
    width: 100%;
}

.bg-overlay {
    background-color: #000000b9;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
