/* Splash Page - Desktop */
.splash-main {
    position: absolute;
    height: 100vh;
    /* background-color: #464e5b; */
    top: 0;
    right: 0;
    left: 0;
}

.splash-title {
    max-width: 960px;

    /* margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center; */
    display: table-cell;
    vertical-align: middle;

    text-align: center;
    color: white;

    
}
    .splash-title h1 {
        font-size: 3.5rem;
        margin: 0;
    }
    .splash-title h2 {
        font-size: 1.8rem;
        margin: 0px;
    }
    .splash-title h3 {
        margin-top: 9px;
        font-size: 1.8rem;
        margin-bottom: 50px;
    }

.splash-title a {
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-radius: 15px;
    padding: 15px 32px;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
    .splash-title a:hover {
        color: black;
        background-color: white;
        border-color: white;
    }

.bg-img {
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
    font-size: 0;
    line-height: 0;
}

.bg-overlay {
    background-color: #000000b9;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.section {
    height: 100vh;
    background-image: url(../Images/background.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px 0px;
    position: relative;
}

.splash-container {
    display: table;
    margin: auto;
    height: 100%;
}